# .env

# MongoDB Configuration

MONGO_IMAGE=mongo:7.0
MONGO_CONTAINER_NAME=campus-events-mongo
MONGO_PORT_HOST=27017
MONGO_PORT_CONTAINER=27017
MONGO_VOLUME_NAME=mongo-data
MONGO_DATABASE=campus-events


# Spring Boot App Configuration
APP_CONTAINER_NAME=campus-events-app
APP_PORT_HOST=8080
APP_PORT_CONTAINER=8080
SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/campus-events
LOG_LEVEL=INFO

